@use "../../styles/partials/mixins" as *;

.viewRecipe{

    &__icons{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.5rem;
        padding-bottom: 3rem;
        cursor: pointer;
    }


    &__icon{
        height: 2rem;
        cursor: pointer;
    }

    @include tablet {
        margin: 0 12rem;
        padding: 0 3.2rem;
    }

    @include desktop {
        margin: 0 30rem;
        padding: 0 3.2rem;
    }

}