@use "./fonts" as *;
@use "./mixins" as *;
@use "./variables" as *;

@include font-faces;

// Global styles
@mixin global-styles {
    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    html {
        font-size: 10px;
        margin: 0;
    }

    body {
        font-size: 1rem;
        font-family: $font-regular;
        margin: 0;
    }

    body,
    h1,
    h2,
    h3,
    h4,
    p,
    div,
    li,
    ul,
    a,
    span,
    section,
    article {
        margin: 0;
        list-style: none;
        text-decoration: none;
    }

    .recipeDetails{
        &__buttons{
            padding: 2rem 0;
            display: flex;
            justify-content: space-around;
            width: 100%;
        }
        
        &__button{
            height: 3rem;
            width: 6rem;
            border-radius: 0.5rem;
            border: unset;
        
            &:hover{
                background-color: lightgray;
            }
        }

        .backbtn{
            width: unset;
        }
        
        .cancelbtn{
            @include cancelbtn;
        }
        
        .savebtn{
            @include savebtn;
        }
    
    }
}