@use "./variables" as *;

@mixin tablet{
    @media screen and (min-width: $tablet-breakpoint){
        @content;
    }
}

@mixin desktop{
    @media screen and (min-width: $desktop-breakpoint){
        @content;
    }
}

@mixin secondary-border{
    border: 1px solid grey;
}

@mixin cancelbtn{
    background-color: rgb(255, 123, 123);
    color: white;

    &:hover{
        background-color: red;
    }
}

@mixin savebtn{
    background-color: rgb(136, 136, 255);
    color: white;

    &:hover{
        background-color: blue;
    }
}

@mixin deletebtn{
    background-color: rgb(255, 123, 123);
    color: white;

    &:hover{
        background-color: red;
    }
}

   
