@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;


.viewRecipe{
    display: flex;
    padding: 1.5rem;

    &__imgBox{
        width: 10rem;
        height: 12.5rem;
        border: 1px solid black;
    }

    &__detailBox {
        display: flex;
        // padding-left: 1rem;
        flex-direction: column;
    }

    &__details{
        display: flex;
        align-items: center;
        position: relative;
        // padding-bottom: 0.5rem;
    }

    &__delete{
        width: 1.5rem;
        height: 1.5rem;
        position: absolute;
        right: 0.5rem;
        top: 0.5rem;
    }

    &__title{
        width: 100%;
        height: 2.5rem;
        font-family: $font-regular;
        font-size: 1.2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 0.5rem;
        position: relative;
    }
    
    &__descriptionBox{
        width: 19rem;
        height: 10rem;
        position: relative;
    }

    &__description {
        width: 100%;
        font-family: $font-regular;
        font-size: 1.2rem;
        padding: 0.5rem 0 0 0.5rem;
        height: 100%;
    }

    &__wrapper{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        padding: 1.5rem;
    }

    &__textarea{
        font-family: $font-regular;
        width: 100%;
        height: 25rem;
        padding: 1rem;
        @include secondary-border;
    }

    &__ingredients{
        height: 9rem; 
    }

    &__icons{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.5rem;
        padding-bottom: 3rem;
    }

    &__icon{
        height: 2rem;
    }
}