.search{
    padding: 2rem 0;

    &__searchBox{
        width: 100%;
        display: flex;
        align-items: center;
        position: relative;
        height: 4rem;
    }

    &__searchIcon{
        position: absolute;
        padding-right: 1rem;
        padding-left: 1rem;
        height: 1.5rem;
    }

    &__searchInput{
        height: 100%;
        border: 1px solid #e1e1e1;
        border-radius: 0.5rem;
        width: 100%;
        color: #323232;
        background-color: #fafafa;
        padding-left: 3rem;

    }
}