@use "./styles/partials/fonts" as *;
@use "./styles/partials/global" as *;
@use "./styles/partials/mixins" as *;
@use "./styles/partials/variables" as *;

@include font-faces;
@include global-styles;

.app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    &__main-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 10rem;
        padding: 0 1.6rem;


        // @include desktop {
        //     padding: 0 10rem;
        // }
    }
}
