@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.deleteRecipe{
    display: flex;
    flex-direction:column; 
    justify-content: center;
    padding: 1.5rem 0;
    border: 1px solid white;
    height: 80vh;

    &__msg{
        font-size: 1.4rem;
        text-align: center;
    }

    &__buttons{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem 0;
        gap: 4rem;
    }

    &__button{
        @include commonButton;
    }
  
    .deletebtn{
        @include deletebtn;
    }
}